.simplebar {
  $simplebar: &;

  display: block;

  &-track {
    &#{$simplebar}-horizontal {
      height: 4px;
      background-color: $secondary;
      border-radius: 2px;

      @include margin-x($offset--sm);

      @include media-breakpoint-up(md) {
        @include margin-x($offset--md);
      }

      & #{$simplebar}-scrollbar {
        top: 0;
        height: 4px;

        &::before {
          left: 0;
          right: 0;
          background-color: #0062ff;
          border-radius: 2px;
          opacity: 1;
        }
      }
    }
  }

  &-mask {
    right: $offset--sm;

    @include media-breakpoint-up(md) {
      right: 0;
    }
  }

  &-content {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
    }
  }
}
