.posts {
  display: flex;
  justify-content: center;
  margin: auto;
  width: auto;
  transition: all 0.5s;

  @include media-breakpoint-between(xs, sm) {
    width: 100%;
  }

  &__container {
    display: flex;
    flex-flow: row wrap;
    min-width: $min-width;
    max-width: $max-width;

    @include padding-x($offset--sm);

    padding-top: 30px;
    padding-bottom: 35px;
    transition: all 0.5s;

    @include media-breakpoint-up(md) {
      @include padding-x($offset--md);

      padding-top: 50px;
      padding-bottom: 70px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-family: Consolas, Arial, sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #000;
    transition: all 0.5s;

    @include media-breakpoint-up(md) {
      font-size: 28px;
      margin-bottom: 25px;

      @include margin-x($grid-gutter-width / 2);
    }
  }
}
