.rating {
  $rating: &;

  display: flex;
  flex-flow: column wrap;

  &__title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-family: Consolas, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;

    @include media-breakpoint-up(md) {
      font-size: 18px;
    }
  }

  &__list {
    @include list-unstyled();

    display: flex;
    flex-flow: row nowrap;
    flex-flow: row-reverse;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
  }

  &__item {
    $item: &;

    cursor: pointer;

    &:hover .icon,
    &:hover ~ #{$item} .icon {
      @include icon-colors() {
        --border: #ffb400;
        --fill: #ffb400;
      }
    }

    &:not(:first-of-type) {
      margin-right: 10px;
    }

    > * {
      pointer-events: none;
    }

    &--active {
      & .icon,
      & ~ #{$item} .icon {
        @include icon-colors() {
          --border: #{darken(#ffb400, 0.75)};
          --fill: #{darken(#ffb400, 0.75)};
        }
      }
    }
  }
}
