include ../icon/icon.pug

mixin rating({ title, max })
	+b('div').rating&attributes(attributes)
		+e('h3').title= title
		+e('ul').list
			- let n = 0;
			while n < max
				+e.item
					+icon('star', 26, 25)
				- n += 1;
