mixin banner(data)
	+b('div').banner&attributes(attributes)
		+e('div').container
			+e('figure').figure
				+e('figcaption').caption
					span Реклама&nbsp;на&nbsp;
					+e.link(href='#') blabla.com
				+e.image(src='%=static=%img/content/banner.jpg' width='610' height='200' alt='books' title='books')
