.banner {
  display: flex;
  flex-flow: column wrap;
  background-color: $secondary;

  @include media-breakpoint-up(md) {
    width: 100%;
  }

  &__container {
    min-width: $min-width;
    max-width: $max-width;
    margin: auto;

    @include padding-x($offset--sm);

    padding-top: 20px;
    padding-bottom: 15px;

    @include media-breakpoint-up(md) {
      @include padding-x($offset--md);
      @include padding-y(35px);
    }
  }

  &__figure {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
  }

  &__caption {
    margin-bottom: 15px;
  }

  &__image {
    object-fit: cover;
    object-position: 75% 50%;
    width: 100%;
    height: 200px;
    transition: all 0.5s;

    @include media-breakpoint-up(md) {
      object-fit: initial;
      object-position: initial;
    }
  }

  &__link {
    position: relative;
    display: inline-flex;
    padding-bottom: 2px;
    color: $link-color;
    text-decoration: $link-decoration;
    transition: all 0.5s;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $link-color;
      transition: all 0.5s;
    }

    &:focus {
      outline: none;
    }

    &:hover,
    &:active {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;

      &::before {
        background-color: transparent;
      }
    }
  }
}
