.figure {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  min-width: $min-width;
  max-width: $max-width;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: 20px;
  transition: all 0.5s;

  @include padding-x($offset--sm);

  @include media-breakpoint-up(md) {
    @include padding-x($offset--md);

    &::before {
      display: block;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    height: 100%;

    &::before {
      content: '';
      z-index: 5;
      position: absolute;
      bottom: 0;
      left: 80px;
      display: none;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #fff;

      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }

  &__date {
    z-index: 5;
    position: absolute;
    top: 15px;
    left: 20px;
  }

  &__caption {
    z-index: 5;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 25px;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    color: #202326;
    transition: all 0.5s;

    @include media-breakpoint-up(md) {
      order: 5;
      width: 738px;
      padding-top: 15px;
      padding-bottom: initial;

      &::before {
        display: block;
      }
    }
  }

  &__image {
    z-index: 0;
    position: relative;
    display: flex;
  }
}
