.page {
  display: block;
  width: inherit;
  height: inherit;
  margin: auto;
  font-family: $font-family-base;
  color: $body-color;
  background-color: $body-bg;

  &__container {
    @include padding-y($grid-gutter-width);

    @include media-breakpoint-up(md) {
      padding-top: 50px;
    }
  }
}
